@model WhiskItUp.Models.User
@{
    double countrecipe = ViewBag.countrecipe;
    double totaltime = ViewBag.totaltime;
}

<style>
    .detail-label {
        font-weight: 600;
    }

    .detail-value {
        margin-bottom: 10px;
    }

    .table th, .table td {
        vertical-align: middle;
    }

    .summary-card {
        max-width: 22rem;
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="mb-4">
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 detail-label">@Html.DisplayNameFor(model => model.FullName)</dt>
        <dd class="col-sm-9 detail-value">@Html.DisplayFor(model => model.FullName)</dd>

        <dt class="col-sm-3 detail-label">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-9 detail-value">@Html.DisplayFor(model => model.Email)</dd>

        <dt class="col-sm-3 detail-label">@Html.DisplayNameFor(model => model.Gender)</dt>
        <dd class="col-sm-9 detail-value">@Html.DisplayFor(model => model.Gender)</dd>

        <dt class="col-sm-3 detail-label">@Html.DisplayNameFor(model => model.YearsOfExp)</dt>
        <dd class="col-sm-9 detail-value">@Html.DisplayFor(model => model.YearsOfExp)</dd>

        <dt class="col-sm-3 detail-label">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
        <dd class="col-sm-9 detail-value">@Html.DisplayFor(model => model.PhoneNumber)</dd>
    </dl>

    <a asp-action="Index" class="btn btn-secondary mt-2">Back to List</a>
</div>

<hr />

<div class="table-responsive mb-4">
    <table class="table table-striped table-hover border">
        <thead>
            <tr>
                <th>Recipe Name</th>
                <th>Description</th>
                <th>Recipe Name</th>
                <th>Calories</th>
                <th>Difficulty</th>
                <th>Is Vegetarian</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model!.UserRecipeMappings!)
            {
                <tr>
                    <td>@item.Recipe!.RecipeName</td>
                    <td>@item.Recipe!.Description</td>
                    <td>@item.Recipe!.RecipeName</td>
                    <td>@item.Recipe!.Calories</td>
                    <td>@item.Recipe!.Difficulty</td>
                    <td>@item.Recipe!.IsVegetarian</td>
                    <td>@item.Recipe!.Time</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="card border-primary summary-card mb-4">
    <div class="card-header">Summary</div>
    <div class="card-body">
        <h5 class="card-title">Total number of recipes</h5>
        <p class="card-text">@(countrecipe)</p>

        <h5 class="card-title">Total time</h5>
        <p class="card-text">@(totaltime)</p>
    </div>
</div>
