@model WhiskItUp.Models.User
@{
    double countrecipe = ViewBag.countrecipe;
    double totaltime = ViewBag.totaltime;
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>deatiles</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YearsOfExp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearsOfExp)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<hr />

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label asp-for="@(Model!.UserRecipeMappings!.FirstOrDefault()!.Recipe!.RecipeName)"></label>
                </th>
                <th>
                    <label asp-for="@(Model!.UserRecipeMappings!.FirstOrDefault()!.Recipe!.Description)"></label>
                </th>
                <th>
                    <label asp-for="@(Model!.UserRecipeMappings!.FirstOrDefault()!.Recipe!.RecipeName)"></label>
                </th>
                <th>
                    <label asp-for="@(Model!.UserRecipeMappings!.FirstOrDefault()!.Recipe!.IsVegetarian)"></label>
                </th>
                <th>
                    <label asp-for="@(Model!.UserRecipeMappings!.FirstOrDefault()!.Recipe!.Calories)"></label>
                </th>
                <th>
                    <label asp-for="@(Model!.UserRecipeMappings!.FirstOrDefault()!.Recipe!.Difficulty)"></label>
                </th>
                <th>
                    <label asp-for="@(Model!.UserRecipeMappings!.FirstOrDefault()!.Recipe!.Time)"></label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model!.UserRecipeMappings!)
            {
                <tr>
                    <td>@item.Recipe!.RecipeName</td>
                    <td>@item.Recipe!.Description</td>
                    <td>@item.Recipe!.RecipeName</td>
                    <td>@item.Recipe!.Calories</td>
                    <td>@item.Recipe!.Difficulty</td>
                    <td>@item.Recipe!.IsVegetarian</td>
                    <td>@item.Recipe!.Time</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">summary</div>
        <div class="card-body">
            <h4 class="card-title">Total number of recipes</h4>
            <p class="card-text">@(countrecipe)</p>
            <h4 class="card-title">Total time </h4>
            <p class="card-text">@(totaltime)</p>
        </div>
    </div>




